@model IEnumerable<Filmoteka.Models.Film>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
 

<p>
    <a class ="btn myBtn m-l-10" asp-action="Create">Create New</a>
</p>


<div class="container myWrap b_red">
    
         @foreach (var item in Model)
        {
        <div class="container flex-column">
              
        <hr />
             <h4 class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Name)
            </h4>

            <div class="container  b_green">
            <div class="flex-column">
                    <dd class="col-sm-10">
                        @{
                            var path = @"~/image/" + item.Poster + ".jpg";
                        }
                        <img src="@Url.Content(path)" alt="poster" width="170" height="250" />
                    </dd>
            </div>
            <div class="flex-column m-l-70">
               
                    <dt class="">
                        @Html.DisplayNameFor(model => model.Director)
                    </dt>
                    <dd class="col-sm-10">
                            @Html.DisplayFor(modelItem => item.Director)
                    </dd>
                    <dt class="">
                        @Html.DisplayNameFor(model => model.Genre)
                    </dt>
                    <dd class="col-sm-10">
                            @Html.DisplayFor(modelItem => item.Genre)
                    </dd>
                    <dt class="">
                        @Html.DisplayNameFor(model => model.Year)
                    </dt>
                    <dd class="col-sm-10">
                            @Html.DisplayFor(modelItem => item.Year)
                    </dd>

                    <dt class="">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                            @Html.DisplayFor(modelItem => item.Description)
                    </dd>
               
               </div>
            </div>
            <div class="flex">
                <a class="btn myBtn" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn myBtn" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a class="btn myBtn" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        
        </div>
        }

</div>

